@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  display: none;
}

.tela {
  margin: 1%;
}

.dev {
  margin-top: 10%;
  overflow-y: hidden;
}

.borda {
  width: 95%;
  margin-left: 2.5%;
}

.container {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 30px;
}